{% extends 'main.html'  %}

{% block content %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Machine Optimization Request</h1>
    <p class="lead">A new system designed for improment and support the optimization on shopfloor machines.</p>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="card-group">
    <div class="card bg-light"  style="max-width: 18rem;">
      <div class="card-body">
       <h5 class="card-title">New Request</h5>
        <p class="card-text">No worries, We have Sergio Oliveira. He will fix.</p>
        <a href="#" class="btn btn-secondary">Call Sergio</a>
      </div>
    </div>

  <div class="card bg-light offset-1" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Follow up</h5>
      <p class="card-text">5 minutes, Sergio Oliveira will answer.</p>
       <a href="#" class="btn btn-secondary">Ask Sergio</a>
    </div>
   </div>

   <div class="card bg-light offset-1" style="max-width: 18rem;">
     <div class="card-body">
       <h5 class="card-title">Dashboard</h5>
       <p class="card-text">Look how many e-signs Sergio Oliveira have done.</p>
       <a href="#" class="btn btn-secondary">Show Sergio</a>
     </div>
   </div>

  </div>
</div>
{% endblock %}

