{% extends 'main.html'  %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Projects</h5>
				</div>E awe
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Change Request</th>
							<th>Description</th>
							<th>Status</th>
                            <th>Requested by</th>
                            <th>Created on</th>
						</tr>

						{% for i in esign %}
							<tr>
								<td>{{i.request}}</td>
								<td>{{i.description}}</td>
								<td>{{i.status}}</td>
								<td>{{i.requestedby}}</td>
								<td>{{i.date_created}}</td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}
